body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 252, 252);
  }
  
  .stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(37, 255, 74);
    text-shadow: 2px 2px 2px rgba(24, 29, 26, 0.603);
    background-color: rgb(238, 219, 219);
  }
  
  .controls button{
    font-size: 3.5rem;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 98%);
    background-color: rgb(37, 29, 29) ;
    cursor: pointer;
    transition: background-color black 0.5 ease;
  }
  
  .start-button:hover{
    background-color: hsl(115, 100%, 40%);
    color: rgb(217, 255, 0);
  }
  .stop-button:hover{
    background-color: hsl(0, 94%, 50%);
    color: yellow;
  }
  .reset-button:hover{
    background-color: rgb(130, 4, 248);
    color: rgb(255, 153, 0);
  }